<div class="divcont">

    <h2 style="text-align:center">Select Your Product Category</h2>

<div class="card">
  <img src="../../assets/portfolio-1.jpg" style="width:100%">
  <h1>Laptop</h1>
  <p class="price">Rs.30000</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <button>Select</button>
</div>

<div class="card">
    <img src="../../assets/portfolio-2.jpg" style="width:100%">
    <h1>Mobile</h1>
    <p class="price">Rs.20000</p>
    <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
    <button>Select</button>
  </div>


<div class="card">
  <img src="../../assets/portfolio-3.jpg" style="width:100%">
  <h1>Monitar</h1>
  <p class="price">Rs.11000</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <button>Select</button>
</div>

<div class="card">
    <img src="../../assets/portfolio-4.jpg" style="width:100%">
    <h1>Desktop</h1>
    <p class="price">Rs.80000</p>
    <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
    <button>Select</button>
</div>

</div>